<div class="row" id="navLinksColumn" style = "position:relative; left:3%;">
  <h1 style = "position:relative; left:1%;">My Addresses</h1>
  <hr>
  <div class="col-lg-11" id="new-address-button">
    <button class="btn btn-success float-right" (click)="onOpenModal(null, 'add')">New Address</button>
    <button class="btn btn-secondary float-right" (click)="ngOnInit()">Reload</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-11 col-md-11 col-xs-11" style = "position:relative; left:1%;">
    <app-address-item
      *ngFor="let address of userAddresses; let i = index"
      [addressItem]="address"
    ></app-address-item>
  </div>
</div>
<app-new-address-modal></app-new-address-modal>
<app-edit-address-modal></app-edit-address-modal>
<app-delete-address-modal></app-delete-address-modal>

