<div class="row">
    <div id="address-container">
      <div class="w-100 p-2 float-left">
        <p class="list-group-item-text float-left">
          {{ addressItem.id }}
          {{ addressItem.firstName }}
          {{ addressItem.lastName }}
          {{ addressItem.addressLine1 }}
          {{ addressItem.addressLine2 }}
          {{ addressItem.zipCode }}
          {{ addressItem.city }}
          {{ addressItem.country }}
        </p>
        <a (click)="onOpenModal(addressItem, 'edit')" class="btn btn-primary tooltips" id="editButton"
           data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
        <a (click)="onOpenModal(addressItem, 'delete')"  class="btn btn-secondary tooltips" id="deleteButton"
           data-original-title="Delete"><i class="fa fa-times" style=""></i></a>
      </div>
    </div>
  </div>
