
#editButton {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  top: -5px;
}

#deleteButton {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
  position: relative;
  top: -5px;
}

.fa-pencil{
  color: white;
  float: right;
}

.fa-times {
  color: white;
  float: right
}
