<div fxFlex fxLayout="column" fxLayoutGap="0px">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div fxLayoutAlign="center">
        <img style="margin-top:30px" src="/assets/img/acme-logo.png" />
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <h2 style="margin-top:100px" class="my-primary-text">ACME App</h2>
      </div>

      <div fxLayout="row" fxLayoutAlign="center">
        <img src="/assets/img/jumbo4.jpg" width="799" height="377"/>
      </div>
    </div>

    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" class="mat-app-background">
      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:30px">
        <div fxLayout="row" fxLayoutAlign="center">
          <h3>Welcome to the ACME App</h3>
        </div>

        <div fxLayout="row" fxLayoutAlign="center">
          <h4>Please sign in below</h4>
        </div>
      </div>

      <div fxLayout="column" fxLayoutAlign="center" style="margin-top:100px">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div fxLayoutAlign="center">
            <mat-form-field style="width:50%" appearance="fill">
              <mat-label>Enter username</mat-label>
              <input formControlName="username" matInput>
              <mat-error *ngIf="form.controls['username'].invalid">Please enter a valid username</mat-error>
            </mat-form-field>
            <br/>
            <br/>
          </div>
          <div fxLayoutAlign="center" style="margin-top:10px">
            <mat-form-field style="width:50%" appearance="fill">
              <mat-label>Enter password</mat-label>
              <input type="password" formControlName="password" matInput>
              <mat-error *ngIf="form.controls['password'].invalid">Please enter a valid password</mat-error>
            </mat-form-field>
          </div>
          <div fxLayoutAlign="center" style="margin-top:20px">
        <!--    <button [disabled]="!form.valid || formSubmitted" type="submit" mat-raised-button color="primary">Login</button>-->
            <button type="submit" mat-raised-button color="primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
