<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
    Cart({{cartContent?.length}})
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">

    <div *ngFor="let cartItem of cartContent; let i = index">
      <a>{{cartItem.product.productName}}</a>
      <br>
      <a>{{cartItem.product.productPrice}}€ x {{cartItem.orderLine.quantity}}
        = {{ cartItem.product.productPrice * cartItem.orderLine.quantity}}€</a>
      <div class="form-group">

      </div>

    </div>
    <div class="dropdown-divider"></div>

    <button type="button" routerLink="/checkout" class="btn btn-dark btn-primary btn-block">Checkout</button>
  </div>
</li>
