<div class="container">
  <div class="row">
    <div class="col-xl-9 col-md-9 col-xs-9">
      <h1>{{product?.productName}}</h1>
      <div class="container">
        <img src="{{product?.imageURL}}">
        <form #productForm="ngForm" (ngSubmit)="onAddProductToCart(product, quantity)">
          <div class="row">
            <div class="col-xl-8 col-md-8 col-xs-8 float-left">
              <p>{{product?.productDescription}}</p>
            </div>

            <div class="col-xl-1 col-md-1 col-xs-1 offset-md-2 float-right">
              <a class="float-right">{{product?.productPrice}}€</a>
              <label class="float-right"></label>
              <input class="float-right" type="number" min="1" max="10" value="1" [(ngModel)]="quantity"
                     name="quantity">
              <button
                class="btn btn-dark float-right"
                type="submit">
                <span>Add to cart</span><i class="material-icons ml-2 font-weight-light">add_shopping_cart</i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xl-3 col-md-3 col-xs-3">
      <app-product-cart></app-product-cart>
    </div>
  </div>

</div>


