@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url('https://fonts.googleapis.com/css?family=Courgette');

.list-group-item {
  flex: 1;
}

* {
  font-family: "Open Sans", sans-serif;
}



/************************/

body {
  padding-top: 60px;
}

.subscribe {
  position: fixed;
  top: 10px;
  right: 10px;
  text-align: center;
  z-index: 5000;
  border-radius: 4px;
  border: 1px solid #ffffff;

}



a {
  display: inline-block;
  border-radius: inherit;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #ffffff;
  text-decoration: none;
}




span {
  margin-left: 2px;
}

label {
  padding: 3px;
}

input {
  padding: 3px;
}


/********************/

._bgPink {
  background-color: #212529;
}

._textPink {
  color: #212529;
}

._before {
  bottom: 100%;
  right: 0;
}

._cartBtn {
  right: 1.25rem;
}

._offerRibbon {
  top: 0.625rem;
  border-color: #212529;
}

._offerRibbon::before, ._offerRibbon::after {
  content: "";
  display: inline-flex;
  position: absolute;
  height: 0;
  width: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  right: -1rem;
  border: 1rem solid transparent;
}

._offerRibbon::before {
  border-top-color: inherit;
}

._offerRibbon::after {
  border-bottom-color: inherit;
}
